{
  "openapi": "3.1.0",
  "info": {
    "title": "HEVN API",
    "description": "One API for integrators. Create client accounts, verify them, open bank rails, receive and send\nmoney, operate escrow deals, and read balances and transactions.\n\nThe base URL already carries the version — every path below is relative to it. Bodies, responses\nand query parameters are camelCase, null fields are omitted, and every amount is a decimal string\nin the asset's major unit (`\"500.00\"`), never a JSON number.\n\nLog in with your developer key: `POST /auth/challenge` returns a payload to sign,\n`POST /auth/token` exchanges the signature for an access token. Send it as\n`Authorization: Bearer <accessToken>`. One token is enough for your whole book: name the client\nyou are acting for with `X-Hevn-Account: cl_…`. Operations that are about you rather than a client\nrefuse that header.\n\nIds are opaque and prefixed by what they name (`cl_` client, `ct_` contact, `bnk_` bank rail,\n`po_` payout, `tr_` transfer, `pi_` payin, `txn_` transaction, `doc_` document, `kyb_` application,\n`esc_` escrow deal). Never parse one.\n\nEvery write accepts `Idempotency-Key: <^[A-Za-z0-9._:-]{1,128}$>` and requires none. A retry with\nthe same key replays the first answer and carries `Idempotency-Replayed: true`; the same key with a\ndifferent request is refused with `idempotency_key_reused`. Lists page with `limit` (default 50,\nmax 100) and the opaque `nextCursor` of the previous page.\n\nEvery refusal is the same envelope: `{\"error\": {\"code\": string, \"message\": string,\n\"details\"?: object}}`. Branch on `error.code`; the per-operation table is published as\n`x-hevn-error-codes`. `unauthenticated` (401), `rate_limited` (429), `validation_failed` (422) and\n`internal_error` (500) can answer any operation and are not repeated per operation.\n",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.hevn.finance/v1",
      "description": "Production. Tokens issued here work only here."
    },
    {
      "url": "https://sandbox-api.hevn.finance/v1",
      "description": "Sandbox (Base Sepolia test funds). Tokens issued here work only here."
    }
  ],
  "paths": {
    "/auth/challenge": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Start a developer-key login",
        "operationId": "startLoginChallenge",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChallengeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChallengeResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "The request was refused. Branch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerErrorResponse"
                }
              }
            }
          },
          "5XX": {
            "description": "The request failed on our side. Retry with the same `Idempotency-Key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerErrorResponse"
                }
              }
            }
          }
        },
        "description": "Sign `hevn-developer-key-login:{email}:{nonce}:{requestExpiry}` with your developer key and send the DER signature base64-encoded. The answer carries the payload to sign for `POST /auth/token`.",
        "x-hevn-acting-as": "either",
        "x-hevn-error-codes": [
          {
            "code": "invalid_credentials",
            "status": 401
          },
          {
            "code": "request_expired",
            "status": 400
          },
          {
            "code": "login_unavailable",
            "status": 503
          }
        ]
      }
    },
    "/auth/token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Exchange a signed challenge for a session",
        "operationId": "createSession",
        "security": [],
        "parameters": [
          {
            "name": "device-id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ]
            }
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/ChallengeTokenRequest"
                  },
                  {
                    "$ref": "#/components/schemas/ProofTokenRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "The request was refused. Branch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerErrorResponse"
                }
              }
            }
          },
          "5XX": {
            "description": "The request failed on our side. Retry with the same `Idempotency-Key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerErrorResponse"
                }
              }
            }
          }
        },
        "description": "Sign the decoded `payload` bytes of the challenge (DER P-256, base64 out). A challenge is single-use. `publicKey` is optional — the registered key that verifies the signature is selected for you.",
        "x-hevn-acting-as": "either",
        "x-hevn-error-codes": [
          {
            "code": "invalid_credentials",
            "status": 401
          },
          {
            "code": "challenge_not_found",
            "status": 404
          },
          {
            "code": "challenge_consumed",
            "status": 409
          },
          {
            "code": "challenge_expired",
            "status": 410
          },
          {
            "code": "signature_invalid",
            "status": 400
          },
          {
            "code": "login_mode_unavailable",
            "status": 501
          }
        ]
      }
    },
    "/auth/refresh": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Mint an access token from a refresh token",
        "operationId": "refreshSession",
        "security": [
          {
            "refreshToken": []
          }
        ],
        "parameters": [
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "The request was refused. Branch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerErrorResponse"
                }
              }
            }
          },
          "5XX": {
            "description": "The request failed on our side. Retry with the same `Idempotency-Key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerErrorResponse"
                }
              }
            }
          }
        },
        "description": "Send the refresh token as the bearer. Omit `userId` for your own session. Prefer `X-Hevn-Account` over a per-client token; this operation exists for clients that already hold one.",
        "x-hevn-acting-as": "either",
        "x-hevn-error-codes": [
          {
            "code": "invalid_credentials",
            "status": 401
          },
          {
            "code": "account_not_found",
            "status": 404
          },
          {
            "code": "account_forbidden",
            "status": 403
          }
        ]
      }
    },
    "/clients": {
      "post": {
        "tags": [
          "Clients"
        ],
        "summary": "Create a client account",
        "description": "Answers `201` with the client and `status: provisioning`; the wallet is deployed in the background. Poll `GET /clients/{clientId}` until `ready`.\n\nAbout you, not a client: `X-Hevn-Account` is refused here.",
        "operationId": "createClient",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Your own key for this write, `^[A-Za-z0-9._:-]{1,128}$`. A retry with the same key replays the first answer; the same key with a different request is refused.",
              "examples": [
                "po-inv-2026-114"
              ]
            },
            "description": "Your own key for this write, `^[A-Za-z0-9._:-]{1,128}$`. A retry with the same key replays the first answer; the same key with a different request is refused."
          },
          {
            "name": "X-Hevn-Account",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "The client account to act for, as a `cl_…` id. Omit it to act as yourself.",
              "examples": [
                "cl_9f2c1ab84d7e4f1fa3c65b0e7d9a2c41"
              ]
            },
            "description": "The client account to act for, as a `cl_…` id. Omit it to act as yourself."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "The request was refused. Branch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerErrorResponse"
                }
              }
            }
          },
          "5XX": {
            "description": "The request failed on our side. Retry with the same `Idempotency-Key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerErrorResponse"
                }
              }
            }
          }
        },
        "x-hevn-acting-as": "self",
        "x-hevn-error-codes": [
          {
            "code": "integrator_inactive",
            "status": 403
          },
          {
            "code": "client_creation_not_enabled",
            "status": 403
          },
          {
            "code": "email_in_use",
            "status": 409
          },
          {
            "code": "name_in_use",
            "status": 409
          },
          {
            "code": "client_request_conflict",
            "status": 409
          },
          {
            "code": "idempotency_key_invalid",
            "status": 400
          },
          {
            "code": "idempotency_key_reused",
            "status": 409
          }
        ]
      },
      "get": {
        "tags": [
          "Clients"
        ],
        "summary": "List clients",
        "description": "Newest first. Clients still provisioning are listed alongside ready ones; filter with `status` or `email`.\n\nAbout you, not a client: `X-Hevn-Account` is refused here.",
        "operationId": "listClients",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "email"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Exact match, lowercased."
            },
            "description": "Exact match, lowercased."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PartnerClientStatus"
                },
                {
                  "type": "null"
                }
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 512
                },
                {
                  "type": "null"
                }
              ]
            }
          },
          {
            "name": "X-Hevn-Account",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "The client account to act for, as a `cl_…` id. Omit it to act as yourself.",
              "examples": [
                "cl_9f2c1ab84d7e4f1fa3c65b0e7d9a2c41"
              ]
            },
            "description": "The client account to act for, as a `cl_…` id. Omit it to act as yourself."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page_ClientResponse_"
                }
              }
            }
          },
          "4XX": {
            "description": "The request was refused. Branch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerErrorResponse"
                }
              }
            }
          },
          "5XX": {
            "description": "The request failed on our side. Retry with the same `Idempotency-Key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerErrorResponse"
                }
              }
            }
          }
        },
        "x-hevn-acting-as": "self",
        "x-hevn-error-codes": [
          {
            "code": "invalid_cursor",
            "status": 400
          }
        ]
      }
    },
    "/clients/{clientId}": {
      "get": {
        "tags": [
          "Clients"
        ],
        "summary": "Read one client",
        "operationId": "getClient",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Prefixed client id"
            },
            "description": "Prefixed client id"
          },
          {
            "name": "X-Hevn-Account",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "The client account to act for, as a `cl_…` id. Omit it to act as yourself.",
              "examples": [
                "cl_9f2c1ab84d7e4f1fa3c65b0e7d9a2c41"
              ]
            },
            "description": "The client account to act for, as a `cl_…` id. Omit it to act as yourself."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "The request was refused. Branch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerErrorResponse"
                }
              }
            }
          },
          "5XX": {
            "description": "The request failed on our side. Retry with the same `Idempotency-Key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerErrorResponse"
                }
              }
            }
          }
        },
        "description": "Answers for a client that is still provisioning or has failed, which is what makes this the poll target after create.\n\nActs on a client account — the one named in the path, or the one `X-Hevn-Account` selects.",
        "x-hevn-acting-as": "client",
        "x-hevn-error-codes": [
          {
            "code": "client_not_found",
            "status": 404
          },
          {
            "code": "account_header_invalid",
            "status": 400
          },
          {
            "code": "account_scope_conflict",
            "status": 400
          }
        ]
      },
      "patch": {
        "tags": [
          "Clients"
        ],
        "summary": "Update a client's profile",
        "description": "Fills the profile lines a client can still change. The address country is frozen once verification data exists.\n\nActs on a client account — the one named in the path, or the one `X-Hevn-Account` selects.",
        "operationId": "updateClient",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Prefixed client id"
            },
            "description": "Prefixed client id"
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Your own key for this write, `^[A-Za-z0-9._:-]{1,128}$`. A retry with the same key replays the first answer; the same key with a different request is refused.",
              "examples": [
                "po-inv-2026-114"
              ]
            },
            "description": "Your own key for this write, `^[A-Za-z0-9._:-]{1,128}$`. A retry with the same key replays the first answer; the same key with a different request is refused."
          },
          {
            "name": "X-Hevn-Account",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "The client account to act for, as a `cl_…` id. Omit it to act as yourself.",
              "examples": [
                "cl_9f2c1ab84d7e4f1fa3c65b0e7d9a2c41"
              ]
            },
            "description": "The client account to act for, as a `cl_…` id. Omit it to act as yourself."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientProfileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "The request was refused. Branch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerErrorResponse"
                }
              }
            }
          },
          "5XX": {
            "description": "The request failed on our side. Retry with the same `Idempotency-Key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerErrorResponse"
                }
              }
            }
          }
        },
        "x-hevn-acting-as": "client",
        "x-hevn-error-codes": [
          {
            "code": "client_not_found",
            "status": 404
          },
          {
            "code": "profile_locked",
            "status": 409
          },
          {
            "code": "account_not_found",
            "status": 404
          },
          {
            "code": "account_forbidden",
            "status": 403
          },
          {
            "code": "account_read_only",
            "status": 403
          },
          {
            "code": "account_scope_conflict",
            "status": 400
          },
          {
            "code": "idempotency_key_invalid",
            "status": 400
          }
        ]
      }
    },
    "/clients/{clientId}/balance": {
      "get": {
        "tags": [
          "Balances"
        ],
        "summary": "Read a client's balances",
        "description": "One row per token the client's wallet holds, as a decimal string, plus the USD total.\n\nActs on a client account — the one named in the path, or the one `X-Hevn-Account` selects.",
        "operationId": "getClientBalance",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Prefixed client id"
            },
            "description": "Prefixed client id"
          },
          {
            "name": "X-Hevn-Account",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "The client account to act for, as a `cl_…` id. Omit it to act as yourself.",
              "examples": [
                "cl_9f2c1ab84d7e4f1fa3c65b0e7d9a2c41"
              ]
            },
            "description": "The client account to act for, as a `cl_…` id. Omit it to act as yourself."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientBalanceView"
                }
              }
            }
          },
          "4XX": {
            "description": "The request was refused. Branch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerErrorResponse"
                }
              }
            }
          },
          "5XX": {
            "description": "The request failed on our side. Retry with the same `Idempotency-Key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerErrorResponse"
                }
              }
            }
          }
        },
        "x-hevn-acting-as": "client",
        "x-hevn-error-codes": [
          {
            "code": "account_not_found",
            "status": 404
          },
          {
            "code": "account_forbidden",
            "status": 403
          },
          {
            "code": "account_scope_conflict",
            "status": 400
          }
        ]
      }
    },
    "/clients/{clientId}/kyb": {
      "put": {
        "tags": [
          "KYB"
        ],
        "summary": "Write the verification document",
        "description": "One flat document for the whole verification. People are addressed by a `key` you choose, so the same body written twice touches the same records. `ready: false` is not an error — `missing[]` lists what is outstanding.\n\nActs on a client account — the one named in the path, or the one `X-Hevn-Account` selects.",
        "operationId": "writeClientKyb",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Prefixed client id"
            },
            "description": "Prefixed client id"
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Your own key for this write, `^[A-Za-z0-9._:-]{1,128}$`. A retry with the same key replays the first answer; the same key with a different request is refused.",
              "examples": [
                "po-inv-2026-114"
              ]
            },
            "description": "Your own key for this write, `^[A-Za-z0-9._:-]{1,128}$`. A retry with the same key replays the first answer; the same key with a different request is refused."
          },
          {
            "name": "X-Hevn-Account",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "The client account to act for, as a `cl_…` id. Omit it to act as yourself.",
              "examples": [
                "cl_9f2c1ab84d7e4f1fa3c65b0e7d9a2c41"
              ]
            },
            "description": "The client account to act for, as a `cl_…` id. Omit it to act as yourself."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PartnerKybWriteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerKybWriteResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "The request was refused. Branch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerErrorResponse"
                }
              }
            }
          },
          "5XX": {
            "description": "The request failed on our side. Retry with the same `Idempotency-Key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerErrorResponse"
                }
              }
            }
          }
        },
        "x-hevn-acting-as": "client",
        "x-hevn-error-codes": [
          {
            "code": "kyb_roster_conflict",
            "status": 409
          },
          {
            "code": "kyb_subject_conflict",
            "status": 409
          },
          {
            "code": "invalid_enum_value",
            "status": 422
          },
          {
            "code": "document_not_found",
            "status": 404
          },
          {
            "code": "document_type_unsupported",
            "status": 422
          },
          {
            "code": "entity_not_found",
            "status": 404
          },
          {
            "code": "account_not_found",
            "status": 404
          },
          {
            "code": "account_forbidden",
            "status": 403
          },
          {
            "code": "account_read_only",
            "status": 403
          },
          {
            "code": "account_scope_conflict",
            "status": 400
          },
          {
            "code": "idempotency_key_invalid",
            "status": 400
          }
        ]
      },
      "get": {
        "tags": [
          "KYB"
        ],
        "summary": "Read the verification document and its readiness",
        "operationId": "getClientKyb",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Prefixed client id"
            },
            "description": "Prefixed client id"
          },
          {
            "name": "X-Hevn-Account",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "The client account to act for, as a `cl_…` id. Omit it to act as yourself.",
              "examples": [
                "cl_9f2c1ab84d7e4f1fa3c65b0e7d9a2c41"
              ]
            },
            "description": "The client account to act for, as a `cl_…` id. Omit it to act as yourself."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerKybResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "The request was refused. Branch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerErrorResponse"
                }
              }
            }
          },
          "5XX": {
            "description": "The request failed on our side. Retry with the same `Idempotency-Key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerErrorResponse"
                }
              }
            }
          }
        },
        "description": "The document as stored, the `missing[]` gate list, and the state of the last submitted application.\n\nActs on a client account — the one named in the path, or the one `X-Hevn-Account` selects.",
        "x-hevn-acting-as": "client",
        "x-hevn-error-codes": [
          {
            "code": "account_not_found",
            "status": 404
          },
          {
            "code": "account_forbidden",
            "status": 403
          },
          {
            "code": "account_scope_conflict",
            "status": 400
          }
        ]
      }
    },
    "/clients/{clientId}/kyb/submit": {
      "post": {
        "tags": [
          "KYB"
        ],
        "summary": "Submit the verification document",
        "description": "Refused with the same `missing[]` list the read returns when anything is outstanding. Poll `GET /clients/{clientId}/kyb` for the verdict.\n\nActs on a client account — the one named in the path, or the one `X-Hevn-Account` selects.",
        "operationId": "submitClientKyb",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Prefixed client id"
            },
            "description": "Prefixed client id"
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Your own key for this write, `^[A-Za-z0-9._:-]{1,128}$`. A retry with the same key replays the first answer; the same key with a different request is refused.",
              "examples": [
                "po-inv-2026-114"
              ]
            },
            "description": "Your own key for this write, `^[A-Za-z0-9._:-]{1,128}$`. A retry with the same key replays the first answer; the same key with a different request is refused."
          },
          {
            "name": "X-Hevn-Account",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "The client account to act for, as a `cl_…` id. Omit it to act as yourself.",
              "examples": [
                "cl_9f2c1ab84d7e4f1fa3c65b0e7d9a2c41"
              ]
            },
            "description": "The client account to act for, as a `cl_…` id. Omit it to act as yourself."
          }
        ],
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerKybSubmitResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "The request was refused. Branch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerErrorResponse"
                }
              }
            }
          },
          "5XX": {
            "description": "The request failed on our side. Retry with the same `Idempotency-Key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerErrorResponse"
                }
              }
            }
          }
        },
        "x-hevn-acting-as": "client",
        "x-hevn-error-codes": [
          {
            "code": "kyb_incomplete",
            "status": 422
          },
          {
            "code": "document_fields_missing",
            "status": 422
          },
          {
            "code": "account_not_found",
            "status": 404
          },
          {
            "code": "account_forbidden",
            "status": 403
          },
          {
            "code": "account_read_only",
            "status": 403
          },
          {
            "code": "account_scope_conflict",
            "status": 400
          },
          {
            "code": "idempotency_key_invalid",
            "status": 400
          }
        ]
      }
    },
    "/documents": {
      "post": {
        "tags": [
          "Documents"
        ],
        "summary": "Upload a document",
        "description": "Answers the `doc_…` id the verification document references as `uploadId`. The same bytes in the same slot answer the first id.\n\nActs on a client account — the one named in the path, or the one `X-Hevn-Account` selects.",
        "operationId": "uploadDocument",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Your own key for this write, `^[A-Za-z0-9._:-]{1,128}$`. A retry with the same key replays the first answer; the same key with a different request is refused.",
              "examples": [
                "po-inv-2026-114"
              ]
            },
            "description": "Your own key for this write, `^[A-Za-z0-9._:-]{1,128}$`. A retry with the same key replays the first answer; the same key with a different request is refused."
          },
          {
            "name": "X-Hevn-Account",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "The client account to act for, as a `cl_…` id. Omit it to act as yourself.",
              "examples": [
                "cl_9f2c1ab84d7e4f1fa3c65b0e7d9a2c41"
              ]
            },
            "description": "The client account to act for, as a `cl_…` id. Omit it to act as yourself."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentUploadRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "The request was refused. Branch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerErrorResponse"
                }
              }
            }
          },
          "5XX": {
            "description": "The request failed on our side. Retry with the same `Idempotency-Key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerErrorResponse"
                }
              }
            }
          }
        },
        "x-hevn-acting-as": "client",
        "x-hevn-error-codes": [
          {
            "code": "document_type_unsupported",
            "status": 422
          },
          {
            "code": "payload_too_large",
            "status": 413
          },
          {
            "code": "account_not_found",
            "status": 404
          },
          {
            "code": "account_forbidden",
            "status": 403
          },
          {
            "code": "account_read_only",
            "status": 403
          },
          {
            "code": "idempotency_key_invalid",
            "status": 400
          }
        ]
      }
    },
    "/documents/{documentId}/content": {
      "put": {
        "tags": [
          "Documents"
        ],
        "summary": "Fill the typed fields read off a document",
        "description": "The verification gate refuses a submission whose documents carry no recognised fields. Write them here: the keys are the paths `details.documents` names, without the slot prefix.\n\nActs on a client account — the one named in the path, or the one `X-Hevn-Account` selects.",
        "operationId": "writeDocumentContent",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Prefixed document id"
            },
            "description": "Prefixed document id"
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Your own key for this write, `^[A-Za-z0-9._:-]{1,128}$`. A retry with the same key replays the first answer; the same key with a different request is refused.",
              "examples": [
                "po-inv-2026-114"
              ]
            },
            "description": "Your own key for this write, `^[A-Za-z0-9._:-]{1,128}$`. A retry with the same key replays the first answer; the same key with a different request is refused."
          },
          {
            "name": "X-Hevn-Account",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "The client account to act for, as a `cl_…` id. Omit it to act as yourself.",
              "examples": [
                "cl_9f2c1ab84d7e4f1fa3c65b0e7d9a2c41"
              ]
            },
            "description": "The client account to act for, as a `cl_…` id. Omit it to act as yourself."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentContentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "The request was refused. Branch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerErrorResponse"
                }
              }
            }
          },
          "5XX": {
            "description": "The request failed on our side. Retry with the same `Idempotency-Key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerErrorResponse"
                }
              }
            }
          }
        },
        "x-hevn-acting-as": "client",
        "x-hevn-error-codes": [
          {
            "code": "document_not_found",
            "status": 404
          },
          {
            "code": "document_type_unsupported",
            "status": 422
          },
          {
            "code": "validation_failed",
            "status": 422
          },
          {
            "code": "account_not_found",
            "status": 404
          },
          {
            "code": "account_forbidden",
            "status": 403
          },
          {
            "code": "account_read_only",
            "status": 403
          },
          {
            "code": "idempotency_key_invalid",
            "status": 400
          }
        ]
      }
    },
    "/banks/{rail}/requirements": {
      "get": {
        "tags": [
          "Bank accounts"
        ],
        "summary": "What this rail needs before it can be opened",
        "description": "A pure read: it creates nothing and calls nobody. `blockers[]` names each outstanding field, so a rail is never opened just to find out why it cannot be.\n\nActs on a client account — the one named in the path, or the one `X-Hevn-Account` selects.",
        "operationId": "getRailRequirements",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "rail",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Opaque rail id",
              "examples": [
                "wire_named"
              ]
            },
            "description": "Opaque rail id"
          },
          {
            "name": "X-Hevn-Account",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "The client account to act for, as a `cl_…` id. Omit it to act as yourself.",
              "examples": [
                "cl_9f2c1ab84d7e4f1fa3c65b0e7d9a2c41"
              ]
            },
            "description": "The client account to act for, as a `cl_…` id. Omit it to act as yourself."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RailRequirementsView"
                }
              }
            }
          },
          "4XX": {
            "description": "The request was refused. Branch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerErrorResponse"
                }
              }
            }
          },
          "5XX": {
            "description": "The request failed on our side. Retry with the same `Idempotency-Key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerErrorResponse"
                }
              }
            }
          }
        },
        "x-hevn-acting-as": "client",
        "x-hevn-error-codes": [
          {
            "code": "rail_not_found",
            "status": 404
          },
          {
            "code": "rail_not_available",
            "status": 403
          },
          {
            "code": "account_not_found",
            "status": 404
          },
          {
            "code": "account_forbidden",
            "status": 403
          }
        ]
      }
    },
    "/banks": {
      "post": {
        "tags": [
          "Bank accounts"
        ],
        "summary": "Open a bank rail",
        "description": "Refused with `rail_requirements_unmet` and the same `blockers[]` when something is outstanding. A rail that already exists replays. A new one opens as `preparing`; poll `GET /banks/{rail}` until `active`.\n\nActs on a client account — the one named in the path, or the one `X-Hevn-Account` selects.",
        "operationId": "openRail",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Your own key for this write, `^[A-Za-z0-9._:-]{1,128}$`. A retry with the same key replays the first answer; the same key with a different request is refused.",
              "examples": [
                "po-inv-2026-114"
              ]
            },
            "description": "Your own key for this write, `^[A-Za-z0-9._:-]{1,128}$`. A retry with the same key replays the first answer; the same key with a different request is refused."
          },
          {
            "name": "X-Hevn-Account",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "The client account to act for, as a `cl_…` id. Omit it to act as yourself.",
              "examples": [
                "cl_9f2c1ab84d7e4f1fa3c65b0e7d9a2c41"
              ]
            },
            "description": "The client account to act for, as a `cl_…` id. Omit it to act as yourself."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RailOpenRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RailView"
                }
              }
            }
          },
          "4XX": {
            "description": "The request was refused. Branch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerErrorResponse"
                }
              }
            }
          },
          "5XX": {
            "description": "The request failed on our side. Retry with the same `Idempotency-Key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerErrorResponse"
                }
              }
            }
          }
        },
        "x-hevn-acting-as": "client",
        "x-hevn-error-codes": [
          {
            "code": "rail_not_found",
            "status": 404
          },
          {
            "code": "rail_not_available",
            "status": 403
          },
          {
            "code": "rail_requirements_unmet",
            "status": 422
          },
          {
            "code": "phone_required",
            "status": 422
          },
          {
            "code": "account_not_found",
            "status": 404
          },
          {
            "code": "account_forbidden",
            "status": 403
          },
          {
            "code": "account_read_only",
            "status": 403
          },
          {
            "code": "idempotency_key_invalid",
            "status": 400
          }
        ]
      },
      "get": {
        "tags": [
          "Bank accounts"
        ],
        "summary": "List the client's rails and what else is available",
        "operationId": "listRails",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Hevn-Account",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "The client account to act for, as a `cl_…` id. Omit it to act as yourself.",
              "examples": [
                "cl_9f2c1ab84d7e4f1fa3c65b0e7d9a2c41"
              ]
            },
            "description": "The client account to act for, as a `cl_…` id. Omit it to act as yourself."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RailListView"
                }
              }
            }
          },
          "4XX": {
            "description": "The request was refused. Branch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerErrorResponse"
                }
              }
            }
          },
          "5XX": {
            "description": "The request failed on our side. Retry with the same `Idempotency-Key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerErrorResponse"
                }
              }
            }
          }
        },
        "description": "Every rail the client may open, with `opened` and — once open — its status and requisites.\n\nActs on a client account — the one named in the path, or the one `X-Hevn-Account` selects.",
        "x-hevn-acting-as": "client",
        "x-hevn-error-codes": [
          {
            "code": "account_not_found",
            "status": 404
          },
          {
            "code": "account_forbidden",
            "status": 403
          }
        ]
      }
    },
    "/banks/{rail}": {
      "get": {
        "tags": [
          "Bank accounts"
        ],
        "summary": "Read one rail",
        "operationId": "getRail",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "rail",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Opaque rail id",
              "examples": [
                "wire_named"
              ]
            },
            "description": "Opaque rail id"
          },
          {
            "name": "X-Hevn-Account",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "The client account to act for, as a `cl_…` id. Omit it to act as yourself.",
              "examples": [
                "cl_9f2c1ab84d7e4f1fa3c65b0e7d9a2c41"
              ]
            },
            "description": "The client account to act for, as a `cl_…` id. Omit it to act as yourself."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RailView"
                }
              }
            }
          },
          "4XX": {
            "description": "The request was refused. Branch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerErrorResponse"
                }
              }
            }
          },
          "5XX": {
            "description": "The request failed on our side. Retry with the same `Idempotency-Key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerErrorResponse"
                }
              }
            }
          }
        },
        "description": "`preparing` means the rail exists but has no requisites yet. `active` means the requisites in this answer can be paid.\n\nActs on a client account — the one named in the path, or the one `X-Hevn-Account` selects.",
        "x-hevn-acting-as": "client",
        "x-hevn-error-codes": [
          {
            "code": "rail_not_found",
            "status": 404
          },
          {
            "code": "account_not_found",
            "status": 404
          },
          {
            "code": "account_forbidden",
            "status": 403
          }
        ]
      }
    },
    "/banks/{rail}/rate": {
      "get": {
        "tags": [
          "Bank accounts"
        ],
        "summary": "Read the rail's deposit rate",
        "operationId": "getRailRate",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "rail",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Opaque rail id",
              "examples": [
                "wire_named"
              ]
            },
            "description": "Opaque rail id"
          },
          {
            "name": "X-Hevn-Account",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "The client account to act for, as a `cl_…` id. Omit it to act as yourself.",
              "examples": [
                "cl_9f2c1ab84d7e4f1fa3c65b0e7d9a2c41"
              ]
            },
            "description": "The client account to act for, as a `cl_…` id. Omit it to act as yourself."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RailRateView"
                }
              }
            }
          },
          "4XX": {
            "description": "The request was refused. Branch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerErrorResponse"
                }
              }
            }
          },
          "5XX": {
            "description": "The request failed on our side. Retry with the same `Idempotency-Key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerErrorResponse"
                }
              }
            }
          }
        },
        "description": "The rate a deposit on this rail converts at, already net of markup. `rate` is null while the rail cannot quote.\n\nActs on a client account — the one named in the path, or the one `X-Hevn-Account` selects.",
        "x-hevn-acting-as": "client",
        "x-hevn-error-codes": [
          {
            "code": "rail_not_found",
            "status": 404
          },
          {
            "code": "account_not_found",
            "status": 404
          },
          {
            "code": "account_forbidden",
            "status": 403
          }
        ]
      }
    },
    "/payins": {
      "post": {
        "tags": [
          "Payins"
        ],
        "summary": "Price an incoming transfer",
        "description": "Answers the terms the client's deposit will settle at. A refusal carries `details.options[]` — one entry per way this amount could arrive — so limits and fees never need a second call.\n\nActs on a client account — the one named in the path, or the one `X-Hevn-Account` selects.",
        "operationId": "createPayin",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Your own key for this write, `^[A-Za-z0-9._:-]{1,128}$`. A retry with the same key replays the first answer; the same key with a different request is refused.",
              "examples": [
                "po-inv-2026-114"
              ]
            },
            "description": "Your own key for this write, `^[A-Za-z0-9._:-]{1,128}$`. A retry with the same key replays the first answer; the same key with a different request is refused."
          },
          {
            "name": "X-Hevn-Account",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "The client account to act for, as a `cl_…` id. Omit it to act as yourself.",
              "examples": [
                "cl_9f2c1ab84d7e4f1fa3c65b0e7d9a2c41"
              ]
            },
            "description": "The client account to act for, as a `cl_…` id. Omit it to act as yourself."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PayinCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayinView"
                }
              }
            }
          },
          "4XX": {
            "description": "The request was refused. Branch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerErrorResponse"
                }
              }
            }
          },
          "5XX": {
            "description": "The request failed on our side. Retry with the same `Idempotency-Key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerErrorResponse"
                }
              }
            }
          }
        },
        "x-hevn-acting-as": "client",
        "x-hevn-error-codes": [
          {
            "code": "payin_not_available",
            "status": 422
          },
          {
            "code": "amount_below_minimum",
            "status": 422
          },
          {
            "code": "amount_above_maximum",
            "status": 422
          },
          {
            "code": "amount_precision_unsupported",
            "status": 422
          },
          {
            "code": "rail_not_found",
            "status": 404
          },
          {
            "code": "invalid_id",
            "status": 400
          },
          {
            "code": "account_not_found",
            "status": 404
          },
          {
            "code": "account_forbidden",
            "status": 403
          },
          {
            "code": "account_read_only",
            "status": 403
          },
          {
            "code": "idempotency_key_invalid",
            "status": 400
          }
        ]
      }
    },
    "/payins/{payinId}/instructions": {
      "post": {
        "tags": [
          "Payins"
        ],
        "summary": "Accept the price and get the payment instructions",
        "description": "Idempotent: an already-open pay-in answers the same instructions. A price that stopped holding answers `410 payin_expired`.\n\nActs on a client account — the one named in the path, or the one `X-Hevn-Account` selects.",
        "operationId": "openPayin",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "payinId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Prefixed pay-in id"
            },
            "description": "Prefixed pay-in id"
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Your own key for this write, `^[A-Za-z0-9._:-]{1,128}$`. A retry with the same key replays the first answer; the same key with a different request is refused.",
              "examples": [
                "po-inv-2026-114"
              ]
            },
            "description": "Your own key for this write, `^[A-Za-z0-9._:-]{1,128}$`. A retry with the same key replays the first answer; the same key with a different request is refused."
          },
          {
            "name": "X-Hevn-Account",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "The client account to act for, as a `cl_…` id. Omit it to act as yourself.",
              "examples": [
                "cl_9f2c1ab84d7e4f1fa3c65b0e7d9a2c41"
              ]
            },
            "description": "The client account to act for, as a `cl_…` id. Omit it to act as yourself."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PayinInstructionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayinInstructionsView"
                }
              }
            }
          },
          "4XX": {
            "description": "The request was refused. Branch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerErrorResponse"
                }
              }
            }
          },
          "5XX": {
            "description": "The request failed on our side. Retry with the same `Idempotency-Key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerErrorResponse"
                }
              }
            }
          }
        },
        "x-hevn-acting-as": "client",
        "x-hevn-error-codes": [
          {
            "code": "payin_not_found",
            "status": 404
          },
          {
            "code": "payin_expired",
            "status": 410
          },
          {
            "code": "account_not_found",
            "status": 404
          },
          {
            "code": "account_forbidden",
            "status": 403
          },
          {
            "code": "account_read_only",
            "status": 403
          },
          {
            "code": "idempotency_key_invalid",
            "status": 400
          }
        ]
      }
    },
    "/payins/{payinId}": {
      "get": {
        "tags": [
          "Payins"
        ],
        "summary": "Follow an incoming transfer",
        "operationId": "getPayin",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "payinId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Prefixed pay-in id"
            },
            "description": "Prefixed pay-in id"
          },
          {
            "name": "X-Hevn-Account",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "The client account to act for, as a `cl_…` id. Omit it to act as yourself.",
              "examples": [
                "cl_9f2c1ab84d7e4f1fa3c65b0e7d9a2c41"
              ]
            },
            "description": "The client account to act for, as a `cl_…` id. Omit it to act as yourself."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayinView"
                }
              }
            }
          },
          "4XX": {
            "description": "The request was refused. Branch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerErrorResponse"
                }
              }
            }
          },
          "5XX": {
            "description": "The request failed on our side. Retry with the same `Idempotency-Key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerErrorResponse"
                }
              }
            }
          }
        },
        "description": "Acts on a client account — the one named in the path, or the one `X-Hevn-Account` selects.",
        "x-hevn-acting-as": "client",
        "x-hevn-error-codes": [
          {
            "code": "payin_not_found",
            "status": 404
          },
          {
            "code": "account_not_found",
            "status": 404
          },
          {
            "code": "account_forbidden",
            "status": 403
          }
        ]
      }
    },
    "/payouts": {
      "post": {
        "tags": [
          "Payouts"
        ],
        "summary": "Quote and book a payout",
        "operationId": "createPayout",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Hevn-Account",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "The client account to act for, as a `cl_…` id. Omit it to act as yourself.",
              "examples": [
                "cl_9f2c1ab84d7e4f1fa3c65b0e7d9a2c41"
              ]
            },
            "description": "The client account to act for, as a `cl_…` id. Omit it to act as yourself."
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Your own key for this write, `^[A-Za-z0-9._:-]{1,128}$`. A retry with the same key replays the first answer; the same key with a different request is refused.",
              "examples": [
                "po-inv-2026-114"
              ]
            },
            "description": "Your own key for this write, `^[A-Za-z0-9._:-]{1,128}$`. A retry with the same key replays the first answer; the same key with a different request is refused."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PayoutCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayoutResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "The request was refused. Branch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerErrorResponse"
                }
              }
            }
          },
          "5XX": {
            "description": "The request failed on our side. Retry with the same `Idempotency-Key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerErrorResponse"
                }
              }
            }
          }
        },
        "description": "One call quotes, books and prepares, for a bank recipient and a wallet recipient alike. The answer carries `quote` (the terms you may refuse — a wallet payout converts nothing, so it carries no rate and no fee), `approval.payload` (the bytes to sign) and `debit` (what will actually leave the wallet, read out of the operation being signed). Sign the decoded payload with your developer key and call confirm.\n\nActs on a client account — the one named in the path, or the one `X-Hevn-Account` selects.",
        "x-hevn-acting-as": "client",
        "x-hevn-error-codes": [
          {
            "code": "contact_not_found",
            "status": 404
          },
          {
            "code": "recipient_not_payable",
            "status": 409
          },
          {
            "code": "recipient_chain_unsupported",
            "status": 422
          },
          {
            "code": "recipient_token_unsupported",
            "status": 422
          },
          {
            "code": "recipient_details_invalid",
            "status": 422
          },
          {
            "code": "amount_below_minimum",
            "status": 422
          },
          {
            "code": "amount_above_maximum",
            "status": 422
          },
          {
            "code": "amount_precision_unsupported",
            "status": 422
          },
          {
            "code": "insufficient_funds",
            "status": 409
          },
          {
            "code": "self_transfer",
            "status": 409
          },
          {
            "code": "quote_not_fundable",
            "status": 409
          },
          {
            "code": "payout_not_fundable",
            "status": 409
          },
          {
            "code": "funding_mode_unsupported",
            "status": 409
          },
          {
            "code": "invalid_id",
            "status": 400
          },
          {
            "code": "account_not_found",
            "status": 404
          },
          {
            "code": "account_forbidden",
            "status": 403
          },
          {
            "code": "account_read_only",
            "status": 403
          },
          {
            "code": "idempotency_key_invalid",
            "status": 400
          },
          {
            "code": "idempotency_key_reused",
            "status": 409
          }
        ]
      }
    },
    "/payouts/{payoutId}/confirm": {
      "post": {
        "tags": [
          "Payouts"
        ],
        "summary": "Sign the payout",
        "operationId": "confirmPayout",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "payoutId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Hevn-Account",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "The client account to act for, as a `cl_…` id. Omit it to act as yourself.",
              "examples": [
                "cl_9f2c1ab84d7e4f1fa3c65b0e7d9a2c41"
              ]
            },
            "description": "The client account to act for, as a `cl_…` id. Omit it to act as yourself."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfirmRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayoutReceiptResponse"
                }
              }
            }
          },
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayoutReceiptResponse"
                }
              }
            },
            "description": "Accepted"
          },
          "4XX": {
            "description": "The request was refused. Branch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerErrorResponse"
                }
              }
            }
          },
          "5XX": {
            "description": "The request failed on our side. Retry with the same `Idempotency-Key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerErrorResponse"
                }
              }
            }
          }
        },
        "description": "The signature alone identifies both the approval and the key that signed it — nothing else is sent. A wrong signature never consumes the approval. `202` means the transfer is in flight; poll `pollUrl`.\n\nActs on a client account — the one named in the path, or the one `X-Hevn-Account` selects.",
        "x-hevn-acting-as": "client",
        "x-hevn-error-codes": [
          {
            "code": "payout_not_found",
            "status": 404
          },
          {
            "code": "signature_invalid",
            "status": 400
          },
          {
            "code": "key_not_registered",
            "status": 403
          },
          {
            "code": "account_not_controlled",
            "status": 403
          },
          {
            "code": "funding_attempt_expired",
            "status": 409
          },
          {
            "code": "funding_attempts_exhausted",
            "status": 409
          },
          {
            "code": "funding_in_progress",
            "status": 409
          },
          {
            "code": "already_funded",
            "status": 409
          },
          {
            "code": "approval_expired",
            "status": 410
          },
          {
            "code": "quote_expired",
            "status": 409
          },
          {
            "code": "insufficient_funds",
            "status": 409
          },
          {
            "code": "bundler_rejected",
            "status": 502
          },
          {
            "code": "bundler_unavailable",
            "status": 502
          },
          {
            "code": "user_operation_rejected",
            "status": 502
          },
          {
            "code": "funding_state_unknown",
            "status": 409
          }
        ]
      }
    },
    "/payouts/{payoutId}": {
      "get": {
        "tags": [
          "Payouts"
        ],
        "summary": "Follow a payout",
        "operationId": "getPayout",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "payoutId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Hevn-Account",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "The client account to act for, as a `cl_…` id. Omit it to act as yourself.",
              "examples": [
                "cl_9f2c1ab84d7e4f1fa3c65b0e7d9a2c41"
              ]
            },
            "description": "The client account to act for, as a `cl_…` id. Omit it to act as yourself."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayoutReadResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "The request was refused. Branch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerErrorResponse"
                }
              }
            }
          },
          "5XX": {
            "description": "The request failed on our side. Retry with the same `Idempotency-Key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerErrorResponse"
                }
              }
            }
          }
        },
        "description": "Answers for the whole lifecycle of every payout, over a bank rail or on chain, and is the route `pollUrl` names.\n\nActs on a client account — the one named in the path, or the one `X-Hevn-Account` selects.",
        "x-hevn-acting-as": "client",
        "x-hevn-error-codes": [
          {
            "code": "payout_not_found",
            "status": 404
          },
          {
            "code": "invalid_id",
            "status": 400
          },
          {
            "code": "account_not_found",
            "status": 404
          },
          {
            "code": "account_forbidden",
            "status": 403
          }
        ]
      }
    },
    "/payouts/preview": {
      "post": {
        "tags": [
          "Payouts"
        ],
        "summary": "Price a payout without booking it",
        "operationId": "previewPayout",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Hevn-Account",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "The client account to act for, as a `cl_…` id. Omit it to act as yourself.",
              "examples": [
                "cl_9f2c1ab84d7e4f1fa3c65b0e7d9a2c41"
              ]
            },
            "description": "The client account to act for, as a `cl_…` id. Omit it to act as yourself."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PayoutPreviewRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayoutPreviewResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "The request was refused. Branch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerErrorResponse"
                }
              }
            }
          },
          "5XX": {
            "description": "The request failed on our side. Retry with the same `Idempotency-Key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerErrorResponse"
                }
              }
            }
          }
        },
        "description": "Creates nothing. Use it to show a price before the client commits.\n\nActs on a client account — the one named in the path, or the one `X-Hevn-Account` selects.",
        "x-hevn-acting-as": "client",
        "x-hevn-error-codes": [
          {
            "code": "contact_not_found",
            "status": 404
          },
          {
            "code": "recipient_not_payable",
            "status": 409
          },
          {
            "code": "amount_below_minimum",
            "status": 422
          },
          {
            "code": "amount_above_maximum",
            "status": 422
          },
          {
            "code": "amount_precision_unsupported",
            "status": 422
          },
          {
            "code": "invalid_id",
            "status": 400
          },
          {
            "code": "account_not_found",
            "status": 404
          },
          {
            "code": "account_forbidden",
            "status": 403
          }
        ]
      }
    },
    "/contacts": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Save a recipient",
        "operationId": "createContact",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Hevn-Account",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "The client account to act for, as a `cl_…` id. Omit it to act as yourself.",
              "examples": [
                "cl_9f2c1ab84d7e4f1fa3c65b0e7d9a2c41"
              ]
            },
            "description": "The client account to act for, as a `cl_…` id. Omit it to act as yourself."
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Your own key for this write, `^[A-Za-z0-9._:-]{1,128}$`. A retry with the same key replays the first answer; the same key with a different request is refused.",
              "examples": [
                "po-inv-2026-114"
              ]
            },
            "description": "Your own key for this write, `^[A-Za-z0-9._:-]{1,128}$`. A retry with the same key replays the first answer; the same key with a different request is refused."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "The request was refused. Branch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerErrorResponse"
                }
              }
            }
          },
          "5XX": {
            "description": "The request failed on our side. Retry with the same `Idempotency-Key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerErrorResponse"
                }
              }
            }
          }
        },
        "description": "A recipient is saved once and paid many times. Saving the same recipient twice answers the first `ct_…` id.\n\nActs on a client account — the one named in the path, or the one `X-Hevn-Account` selects.",
        "x-hevn-acting-as": "client",
        "x-hevn-error-codes": [
          {
            "code": "contact_details_invalid",
            "status": 422
          },
          {
            "code": "account_not_found",
            "status": 404
          },
          {
            "code": "account_forbidden",
            "status": 403
          },
          {
            "code": "account_read_only",
            "status": 403
          },
          {
            "code": "idempotency_key_invalid",
            "status": 400
          }
        ]
      },
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "List recipients",
        "operationId": "listContacts",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 512
                },
                {
                  "type": "null"
                }
              ]
            }
          },
          {
            "name": "X-Hevn-Account",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "The client account to act for, as a `cl_…` id. Omit it to act as yourself.",
              "examples": [
                "cl_9f2c1ab84d7e4f1fa3c65b0e7d9a2c41"
              ]
            },
            "description": "The client account to act for, as a `cl_…` id. Omit it to act as yourself."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page_ContactResponse_"
                }
              }
            }
          },
          "4XX": {
            "description": "The request was refused. Branch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerErrorResponse"
                }
              }
            }
          },
          "5XX": {
            "description": "The request failed on our side. Retry with the same `Idempotency-Key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerErrorResponse"
                }
              }
            }
          }
        },
        "description": "Acts on a client account — the one named in the path, or the one `X-Hevn-Account` selects.",
        "x-hevn-acting-as": "client",
        "x-hevn-error-codes": [
          {
            "code": "invalid_cursor",
            "status": 400
          },
          {
            "code": "account_not_found",
            "status": 404
          },
          {
            "code": "account_forbidden",
            "status": 403
          }
        ]
      }
    },
    "/contacts/{contactId}": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Read one recipient",
        "operationId": "getContact",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Hevn-Account",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "The client account to act for, as a `cl_…` id. Omit it to act as yourself.",
              "examples": [
                "cl_9f2c1ab84d7e4f1fa3c65b0e7d9a2c41"
              ]
            },
            "description": "The client account to act for, as a `cl_…` id. Omit it to act as yourself."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "The request was refused. Branch on `error.code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerErrorResponse"
                }
              }
            }
          },
          "5XX": {
            "description": "The request failed on our side. Retry with the same `Idempotency-Key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerErrorResponse"
                }
              }
            }
          }
        },
        "description": "Acts on a client account — the one named in the path, or the one `X-Hevn-Account` selects.",
        "x-hevn-acting-as": "client",
        "x-hevn-error-codes": [
          {
            "code": "contact_not_found",
            "status": 404
          },
          {
            "code": "account_not_found",
            "status": 404
          },
          {
            "code": "account_forbidden",
            "status": 403
          }
        ]
      },
      "patch": {
        "tags": [
          "Contacts"
        ],
        "summary": "Correct a recipient's name or address",
        "operationId": "updateContact",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Hevn-Account",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "The client account to act for, as a `cl_…` id. Omit it to act as yourself.",
              "examples": [
[...]
